* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', 'Arial', sans-serif;
}
body {
  min-width: 320px;
  background-color: $bg-gray;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
  outline: none;
  text-decoration: none;
  text-align: center;
  &--green {
    background-color: $green;
    color: #FFFFFF;
    border-color: $green;
  }
  &__empty {
    &--green {
      background-color: transparent;
      border-color: $green;
      color: #000000;
    }
    &--white {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF;
    }
  }
}
.title {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  &--icon {
    @extend %flex-between-center;
    & svg {
      flex: 0 0 188px;
      width: 188px;
      height: 60px;
      object-position: right;
      object-fit: contain;
      fill: #FFFFFF;
      fill-opacity: .4;
      margin-left: 10px;
    }
  }
  @media(max-width: 768px) {
    font-size: 20px;
    &--icon {
      & svg {
        flex: 0 0 110px;
        width: 110px;
        height: 36px;
      }
    }
  }
}
@media(hover) {
  .btn {
    transition-duration: .3s;
    cursor: pointer;
    &--green {
      &:hover {
        background-color: #FFFFFF;
        color: $green;
      }
    }
    &__empty {
      &--green {
        &:hover {
          background-color: $green;
          color: #FFFFFF;
        }
      }
      &--white {
        &:hover {
          background-color: #FFFFFF;
          color: $green;
        }
      }
    }
  }
}